.section-portfolio__button-filter, .modal__send-button, .section-hero__button, .footer__button-send {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: inherit;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-width: 0px;
  color: #212121;
}
.section-portfolio__button-filter:hover, .modal__send-button:hover, .section-hero__button:hover, .footer__button-send:hover, .section-portfolio__button-filter:focus, .modal__send-button:focus, .section-hero__button:focus, .footer__button-send:focus {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
}

.modal__send-button, .section-hero__button, .footer__button-send {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__send-button:hover, .section-hero__button:hover, .footer__button-send:hover, .modal__send-button:focus, .section-hero__button:focus, .footer__button-send:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-portfolio__card-link, .logo, .footer__address-link, .header__contact-link, .header__page-link {
  text-decoration: none;
  font-style: normal;
}
.section-portfolio__card-link:hover, .logo:hover, .footer__address-link:hover, .header__contact-link:hover, .header__page-link:hover {
  cursor: pointer;
}

.footer__address-link, .header__contact-link, .header__page-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .header__contact-link:hover, .header__page-link:hover, .footer__address-link:focus, .header__contact-link:focus, .header__page-link:focus {
  color: #2196f3;
}

.footer__container, .section-portfolio__filters, .section-clients__link, .section-services__img-description, .section-advantages__icon-wrapper, .modal__close-button, .header__container, .socials__link, .modal__agree-label, .modal__request-form, .footer__button-send, .header__contact-link, .header__contacts, .header__pages, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__agree-label, .modal__request-form, .footer__button-send, .header__contact-link, .header__contacts, .header__pages, .header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-portfolio__filters, .section-clients__link, .section-services__img-description, .section-advantages__icon-wrapper, .modal__close-button, .header__container, .socials__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__input, .footer__mail-input {
  height: 40px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .footer__mail-input:focus, .modal__input:active, .footer__mail-input:active {
  border-color: #2196f3;
}

.section-clients__icon, .modal__close-icon, .footer__button-icon, .header__contact-icon, .socials__link {
  fill: currentColor;
}

.section-portfolio, .section-clients, .section-team, .section-services, .section-advantages, .section-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__section-title, .section-team__section-title, .section-services__section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.section-portfolio__projects, .section-portfolio__filters, .section-clients__clients-list, .section-team__team-list, .section-services__services-list, .section-advantages__advantages-list, .modal__fields, .footer__addresses-list, .header__contacts, .header__pages, .socials {
  list-style: none;
}

.section-portfolio__section-title, .section-advantages__section-title, .modal__agree-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

body {
  font-family: "Roboto" , sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.logo {
  font-family: "Raleway" , sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #2196f3;
}

.logo__second-word {
  color: #000;
}

.logo__second-word--light {
  color: #fff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}

.socials__social {
  margin-top: 10px;
  margin-left: 10px;
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
  margin-bottom: 0px;
}

.header__pages {
  color: #212121;
}

.header__page:not(:last-child),
.header__contact:not(:last-child) {
  margin-right: 50px;
}

.header__page-link--active-page {
  position: relative;
  color: #2196f3;
}
.header__page-link--active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.header__page-link,
.header__contact-link {
  padding: 32px 0;
}

.header__contacts {
  margin-left: auto;
}

.header__contact-link {
  white-space: nowrap;
}

.header__contact-icon {
  margin-right: 10px;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__studio-info {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__addresses-list {
  line-height: 1.71;
  color: #fff;
}

.footer__address:not(:last-child) {
  margin-bottom: 9px;
}
.footer__address:not(:nth-child(1)) {
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-subtitle, .footer__follow-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe, .footer__follow-us {
  padding-top: 12px;
  color: #fff;
}

.footer__follow-us {
  margin-right: 93px;
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 570px;
  min-width: 450px;
  margin-bottom: -20px;
}

.footer__mail-input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: inherit;
}
.footer__mail-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button-send {
  margin-bottom: 20px;
  padding-right: 28px;
  padding-left: 28px;
}

.footer__button-icon {
  margin-left: 10px;
}

.section-hero {
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg.jpg);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.section-hero__section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 696px;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 80%;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #757575;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden .modal__window {
  -webkit-transform: translate(-50%, -50%) scale(0.1, 0.1);
          transform: translate(-50%, -50%) scale(0.1, 0.1);
  pointer-events: none;
  visibility: hidden;
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  color: #000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}

.modal__subtitle {
  font-size: 20px;
  line-height: 1.17;
  margin-bottom: 12px;
  color: #212121;
}

.modal__request-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__fields {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.modal__field {
  position: relative;
  color: #212121;
}

.modal__input-label {
  font-size: 12px;
  line-height: 1.16;
  display: block;
  margin-bottom: 4px;
  color: #757575;
}

.modal__input {
  display: block;
  width: 100%;
  padding-left: 42px;
  border-color: rgba(33, 33, 33, 0.2);
}
.modal__input:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input--commentary {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__input--commentary::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  bottom: 20px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:active + .modal__input-icon, .modal__input:focus + .modal__input-icon {
  fill: #2196f3;
}

.modal__agree-label {
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.modal__agree-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-width 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-width 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agree-checkbox:focus + .modal__agree-icon {
  background-color: rgba(33, 150, 243, 0.5);
  border-style: dotted;
}
.modal__agree-checkbox:checked + .modal__agree-icon {
  background-color: #2196f3;
  border-width: 0px;
  fill: #fff;
}

.modal__agreements-link {
  color: #2196f3;
}

.modal__send-button {
  padding-right: 55px;
  padding-left: 55px;
  margin-bottom: 0px;
}

.section-advantages__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-advantages__advantage {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-advantages__icon-wrapper {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.section-advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

.section-services {
  padding-top: 0;
}

.section-services__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.section-services__service {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-services__img-wrapper {
  position: relative;
}

.section-services__img-description {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  background-color: #f5f4fa;
}

.section-team__team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.section-team__card {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.section-team__card-meta {
  padding: 30px 32px;
}

.section-team__meta-subtitle {
  font-weight: 500;
  font-size: inherit;
  margin-bottom: 10px;
  color: #212121;
}

.section-team__meta-description {
  margin-bottom: 16px;
}

.section-clients__clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-clients__client {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(16.6666666667% - 30px);
      flex-basis: calc(16.6666666667% - 30px);
  max-width: 100%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link:hover, .section-clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.section-portfolio {
  margin: 0;
  padding: 94px 0;
}

.section-portfolio__filters {
  margin-bottom: 50px;
}

.section-portfolio__filter:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio__button-filter--active {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.section-portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-portfolio__card {
  margin-top: 30px;
  margin-left: 30px;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-portfolio__card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__card-link:hover, .section-portfolio__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section-portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}

.section-portfolio__proj-details {
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 17% 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  overflow: auto;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__card-link:hover .section-portfolio__proj-details, .section-portfolio__card-link:focus .section-portfolio__proj-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-portfolio__card-meta {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.section-portfolio__meta-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.section-portfolio__meta-description {
  font-size: 16px;
  line-height: 1.875;
}/*# sourceMappingURL=main.css.map */