.section-portfolio__button-filter, .modal__send-button, .section-hero__button, .footer__button-send {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: inherit;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-width: 0px;
  color: #212121;
}
.section-portfolio__button-filter:hover, .modal__send-button:hover, .section-hero__button:hover, .footer__button-send:hover, .section-portfolio__button-filter:focus, .modal__send-button:focus, .section-hero__button:focus, .footer__button-send:focus {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
}

.modal__send-button, .section-hero__button, .footer__button-send {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__send-button:hover, .section-hero__button:hover, .footer__button-send:hover, .modal__send-button:focus, .section-hero__button:focus, .footer__button-send:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-portfolio__card-link, .header__social-link, .logo, .footer__address-link, .header__contact-link, .header__page-link {
  text-decoration: none;
  font-style: normal;
}
.section-portfolio__card-link:hover, .header__social-link:hover, .logo:hover, .footer__address-link:hover, .header__contact-link:hover, .header__page-link:hover {
  cursor: pointer;
}

.footer__address-link, .header__contact-link, .header__page-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .header__contact-link:hover, .header__page-link:hover, .footer__address-link:focus, .header__contact-link:focus, .header__page-link:focus {
  color: #2196f3;
}

.header__container, .section-clients__link, .section-services__img-description, .section-advantages__icon-wrapper, .modal__close-button, .socials__link, .section-portfolio__proj-details, .modal__agree-label, .modal__request-form, .footer__button-send, .header__contact-link, .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-portfolio__proj-details, .modal__agree-label, .modal__request-form, .footer__button-send, .header__contact-link, .header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-clients__link, .section-services__img-description, .section-advantages__icon-wrapper, .modal__close-button, .socials__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__input, .footer__mail-input {
  height: 40px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .footer__mail-input:focus, .modal__input:active, .footer__mail-input:active {
  border-color: #2196f3;
}

.section-clients__icon, .modal__agree-icon, .modal__close-icon, .footer__button-icon, .header__button-icon, .header__contact-icon, .socials__link {
  fill: currentColor;
}

.section-portfolio, .section-clients, .section-team, .section-services, .section-advantages, .section-hero, .header {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .section-portfolio, .section-clients, .section-team, .section-services, .section-advantages, .section-hero, .header {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-clients__section-title, .section-team__section-title, .section-services__section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section-clients__section-title, .section-team__section-title, .section-services__section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-portfolio__projects, .section-portfolio__filters, .section-clients__clients-list, .section-team__team-list, .section-services__services-list, .section-advantages__advantages-list, .modal__fields, .footer__addresses-list, .header__company-socials, .header__contacts, .header__pages, .socials {
  list-style: none;
}

.section-portfolio__section-title, .section-advantages__section-title, .modal__agree-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

body {
  font-family: "Roboto" , sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  display: none;
}

.logo {
  font-family: "Raleway" , sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__second-word {
  color: #000;
}

.logo__second-word--light {
  color: #fff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-left: -10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.socials__social {
  margin-top: 10px;
  margin-left: 10px;
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

@media screen and (max-width: 767.98px) {
  body {
    padding-top: 60px;
  }
  body.is-header-fullscreen {
    overflow: hidden;
  }
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0px;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767.98px) {
  .header {
    position: absolute;
    top: calc(-100vh + 60px);
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header.is-fullscreen {
    padding-bottom: 48px;
    -webkit-transform: translateY(calc(100% - 60px));
            transform: translateY(calc(100% - 60px));
    overflow-y: scroll;
  }
}

.header__container {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .header.is-fullscreen .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header__nav {
    margin-right: auto;
  }
}

.header__logo {
  margin-bottom: 0px;
}
@media screen and (max-width: 767.98px) {
  .header__logo {
    position: relative;
    top: 0;
    -webkit-transform: translateY(calc(100vh - 100% - (60px - 100%) / 2));
            transform: translateY(calc(100vh - 100% - (60px - 100%) / 2));
  }
  .header.is-fullscreen .header__logo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__pages {
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .header__pages {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    display: none;
    padding-top: 48px;
  }
  header.is-fullscreen .header__pages {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header__page:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__page:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header__page-link {
    display: block;
    padding: 32px 0;
  }
}

.header__page-link--active-page {
  position: relative;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__page-link--active-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }
  .header.is-fullscreen .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.166;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts {
    width: 138px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .header__contact:nth-child(1) {
    font-size: 24px;
    line-height: 1.17;
  }
  .header__contact:nth-child(2) {
    font-size: 34px;
    line-height: 1.18;
    margin-bottom: 32px;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact:not(:last-child) {
    display: block;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contact-link {
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .header__contact-link {
    padding: 32px 0;
  }
}

.header__contact-icon {
  margin-right: 8px;
}
@media screen and (max-width: 767.98px) {
  .header__contact-icon {
    display: none;
  }
}
@media screen and (max-width: 1199.98px) {
  .header__contact-icon {
    -webkit-transform: scale(0.875);
            transform: scale(0.875);
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-icon {
    margin-right: 10px;
  }
}

.header__company-socials {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .header.is-fullscreen .header__company-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__company-socials {
    display: none;
  }
}

.header__social-item {
  position: relative;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  color: #2196f3;
}
.header__social-item:not(:last-child) {
  margin-right: 20px;
}
.header__social-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.1);
}

@media screen and (max-width: 767.98px) {
  .header__toggle-menu-button {
    position: absolute;
    -webkit-transform: translateY(calc(100vh - 100% - (60px - 100%) / 2));
            transform: translateY(calc(100vh - 100% - (60px - 100%) / 2));
    width: 40px;
    height: 40px;
    right: 15px;
    top: 0;
    border: none;
    background-color: transparent;
    color: #000;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header.is-fullscreen .header__toggle-menu-button {
    -webkit-transform: translateY(calc((60px - 100%) / 2));
            transform: translateY(calc((60px - 100%) / 2));
  }
}
@media screen and (min-width: 768px) {
  .header__toggle-menu-button {
    display: none;
  }
}

.header.is-fullscreen .header__button-icon-open {
  display: none;
}

.header:not(.is-fullscreen) .header__button-icon-close {
  display: none;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 80px;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__studio-info {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__studio-info {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__addresses-list {
  line-height: 1.71;
  color: #fff;
}

.footer__address:not(:last-child) {
  margin-bottom: 9px;
}
.footer__address:not(:nth-child(1)) {
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-subtitle, .footer__follow-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe, .footer__follow-us {
  color: #fff;
}

@media screen and (max-width: 1199.98px) {
  .footer__follow-us {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__follow-us {
    margin-right: 93px;
  }
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.footer__subscribe {
  max-width: 450px;
  min-width: 290px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__subscribe {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 570px;
    margin-bottom: -20px;
  }
}

.footer__subscribe-subtitle {
  display: block;
  width: 100%;
}

.footer__mail-input {
  padding-left: 16px;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: inherit;
}
.footer__mail-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__mail-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199.98px) {
  .footer__mail-input {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mail-input {
    -ms-flex-negative: 0.7;
        flex-shrink: 0.7;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 358px;
    margin-right: 12px;
  }
}

.footer__button-send {
  padding-right: 28px;
  padding-left: 28px;
}
@media screen and (max-width: 1199.98px) {
  .footer__button-send {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button-send {
    margin-bottom: 20px;
  }
}

.footer__button-icon {
  margin-left: 10px;
}

.section-hero {
  text-align: center;
  margin: 0 auto;
  max-width: 480px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_mobile.jpg);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_tablet.jpg);
    background-size: 768px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_tablet@2x.jpg);
  }
}
@media screen and (max-width: 1199.98px) {
  .section-hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_desktop.jpg);
    background-size: 1600px auto;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/decoration/hero-bg_desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decoration/hero-bg_desktop@2x.jpg);
  }
}

.section-hero__section-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .section-hero__section-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  min-width: 320px;
  max-width: 450px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #757575;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-hidden .modal__window {
  -webkit-transform: translate(-50%, -50%) scale(0.1, 0.1);
          transform: translate(-50%, -50%) scale(0.1, 0.1);
  pointer-events: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal__window {
    width: 450px;
  }
}
@media screen and (max-width: 1199.98px) {
  .modal__window {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 80%;
    max-width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  color: #000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}

.modal__subtitle {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__subtitle {
    line-height: 1.17;
  }
}

.modal__request-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__fields {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.modal__field {
  position: relative;
  color: #212121;
}

.modal__input-label {
  font-size: 12px;
  line-height: 1.16;
  display: block;
  margin-bottom: 4px;
  color: #757575;
}

.modal__input {
  display: block;
  width: 100%;
  padding-left: 42px;
  border-color: rgba(33, 33, 33, 0.2);
}
.modal__input:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input--commentary {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__input--commentary::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__input--commentary::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  bottom: 20px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:active + .modal__input-icon, .modal__input:focus + .modal__input-icon {
  fill: #2196f3;
}

.modal__agree-label {
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.modal__agree-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-width 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border-width 250ms cubic-bezier(0.4, 0, 0.2, 1) , fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agree-checkbox:focus + .modal__agree-icon {
  background-color: rgba(33, 150, 243, 0.5);
  border-style: dotted;
}
.modal__agree-checkbox:checked + .modal__agree-icon {
  background-color: #2196f3;
  border-width: 0px;
  fill: #fff;
}

.modal__agreements-link {
  color: #2196f3;
}

.modal__send-button {
  padding-right: 55px;
  padding-left: 55px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .section-advantages__advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767.98px) {
  .section-advantages__advantage:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-advantages__advantage {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(50% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
@media screen and (min-width: 1200px) {
  .section-advantages__advantage {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(25% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.section-advantages__icon-wrapper {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.section-advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .section-advantages__subtitle {
    text-align: center;
  }
}

.section-services {
  padding-top: 0;
}
@media screen and (max-width: 1199.98px) {
  .section-services {
    display: none;
  }
}

.section-services__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.section-services__service {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(33.3333333333% - 30px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-services__img-wrapper {
  position: relative;
}

.section-services__img-description {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .section-team__team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.section-team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
@media screen and (max-width: 767.98px) {
  .section-team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-team__card {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(50% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__card {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(25% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.section-team__photo {
  width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-team__photo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__photo {
    width: 270px;
  }
}

.section-team__card-meta {
  text-align: center;
  padding: 30px 15px;
}

.section-team__meta-subtitle {
  font-weight: 500;
  font-size: inherit;
  margin-bottom: 10px;
  color: #212121;
}

.section-team__meta-description {
  margin-bottom: 16px;
}

.section-clients__clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (max-width: 767.98px) {
  .section-clients__client {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(50% - 30px);
    max-width: 100%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-clients__client {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(33.3333333333% - 30px);
    max-width: 100%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__client {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(16.6666666667% - 30px);
    max-width: 100%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.section-clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link:hover, .section-clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.section-portfolio {
  margin: 0;
}

.section-portfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-portfolio__filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-portfolio__filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio__filters {
    margin-bottom: 50px;
  }
}

.section-portfolio__filter {
  margin-top: 15px;
  margin-left: 8px;
  width: calc(50% - 8px);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.section-portfolio__button-filter--active {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .section-portfolio__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.section-portfolio__card:not(.hidden) {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .section-portfolio__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-portfolio__card:not(.hidden) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-portfolio__card {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(50% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio__card {
    margin-top: 30px;
    margin-left: 30px;
    width: calc(33.3333333333% - 30px);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.section-portfolio__card-link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__card-link:hover, .section-portfolio__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .section-portfolio__card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}

.section-portfolio__proj-details {
  font-size: 18px;
  line-height: 1.55;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  overflow: auto;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio__card-link:hover .section-portfolio__proj-details, .section-portfolio__card-link:focus .section-portfolio__proj-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-portfolio__card-meta {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}
@media screen and (min-width: 768px) {
  .section-portfolio__card-meta {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.section-portfolio__meta-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.section-portfolio__meta-description {
  font-size: 16px;
  line-height: 1.875;
}/*# sourceMappingURL=main.css.map */