.container {
  @include mediaUpTo('tablet') {
    width: (getBreakpointValue('mobile'));
  }
  @include mediaInBetween('tablet', 'desktop') {
    width: (getBreakpointValue('tablet'));
  }
  @include mediaOver('desktop') {
    width: (getBreakpointValue('desktop') - $containerLRPaddings * 2);
  }

  margin: 0 auto;
  padding: 0 $containerLRPaddings;
}

.hidden {
  display: none;
}
