.footer {
  padding: 60px 0;

  background-color: getColorFromPalette('background', 'dark');
}

.footer__container {
  @include mediaUpTo('desktop') {
    text-align: center;
  }

  @include mediaOver('tablet') {
    display: flex;
    align-items: baseline;
  }

  @include mediaInBetween('tablet', 'desktop') {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
  }
}

//#region INFO

.footer__studio-info {
  @include mediaUpTo('desktop') {
    margin-bottom: 60px;
  }

  @include mediaOver('desktop') {
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;
}

.footer__addresses-list {
  @extend %unmarked-list;

  line-height: 1.71;

  color: getColorFromPalette('primary', 'light');
}

.footer__address {
  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:not(:nth-child(1)) {
    color: rgba(getColorFromPalette('primary', 'light'), $alpha: 0.6);
  }
}

.footer__address-link {
  @extend %clean-link--interactive;
}
//#endregion INFO

//#region local placeholders
%local-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}

%local-wrapper {
  color: getColorFromPalette('primary', 'light');
}
//#endregion local placeholders

//#region FOLLOW US
.footer__follow-us {
  @extend %local-wrapper;

  @include mediaUpTo('desktop') {
    margin-bottom: 60px;
  }

  @include mediaOver('desktop') {
    margin-right: 93px;
  }
}

.footer__follow-subtitle {
  @extend %local-subtitle;
}

.footer__socials-link {
  background-color: rgba(getColorFromPalette('primary', 'light'), $alpha: 0.1);
  color: getColorFromPalette('primary', 'light');
}
//#endregion FOLLOW US

//#region SUBSCRIBE
.footer__subscribe {
  @extend %local-wrapper;

  max-width: 450px;
  min-width: 320px - $containerLRPaddings * 2;

  @include mediaInBetween('tablet', 'desktop') {
    margin: 0 auto;
    width: 100%;
  }

  @include mediaOver('desktop') {
    display: flex;
    flex-wrap: wrap;

    max-width: 570px;
    margin-bottom: -20px;
  }
}

.footer__subscribe-subtitle {
  @extend %local-subtitle;

  display: block;
  width: 100%;
}

.footer__mail-input {
  @extend %input;

  padding-left: 16px;
  margin-bottom: 20px;
  height: 50px;

  border: 1px solid rgba(getColorFromPalette('primary', 'light'), $alpha: 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(getColorFromPalette('accent', 'dark'), $alpha: 0.15);
  color: inherit;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(getColorFromPalette('primary', 'light'), $alpha: 0.6);
  }

  @include mediaUpTo('desktop') {
    display: block;

    width: 100%;
  }

  @include mediaOver('desktop') {
    flex-shrink: 0.7;
    flex-grow: 1;

    max-width: 358px;
    margin-right: 12px;
  }
}

.footer__button-send {
  @extend %button--main;
  @extend %flex--v-centred;

  $padding-r-l: 28px;
  padding-right: $padding-r-l;
  padding-left: $padding-r-l;

  @include mediaUpTo('desktop') {
    margin: 0 auto;
  }

  @include mediaOver('desktop') {
    margin-bottom: 20px;
  }
}

.footer__button-icon {
  @extend %icon;

  margin-left: 10px;
}
//#endregion SUBSCRIBE
