$headerTabletHeight: 60px;

body {
  @include mediaUpTo('tablet') {
    padding-top: $headerTabletHeight;
  }
}

.header {
  @extend %section;

  font-weight: getFontWeight('medium');
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 0px;

  border-bottom: 1px solid #ececec;

  @include mediaUpTo('tablet') {
    position: absolute;
    top: calc(-100vh + $headerTabletHeight);
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 0;

    transition: createTransitionFor('transform');

    &.is-fullscreen {
      transform: translateY(calc(100% - $headerTabletHeight));
    }
  }
}

.header__container {
  @extend %flex--vh-centred;

  @include mediaUpTo('tablet') {
    .header.is-fullscreen & {
      align-items: flex-start;
      flex-wrap: wrap;
      padding-left: 40px;
      height: 100%;
    }
  }
}

.header__nav {
  @extend %flex--v-centred;
}

.header__logo {
  margin-bottom: 0px;
  margin-right: 88px;

  .header.is-fullscreen & {
    display: none;
  }

  @include mediaUpTo('tablet') {
    position: relative;
    top: calc(100vh - $headerTabletHeight);
  }

  @include mediaOver('desktop') {
    margin-right: 93px;
  }
}

.header__pages {
  @extend %unmarked-list;

  color: getColorFromPalette('primary', 'dark');

  @include mediaUpTo('tablet') {
    font-weight: getFontWeight('medium');
    font-size: 40px;
    line-height: 1.175;

    display: none;
    padding-top: 38px;

    header.is-fullscreen & {
      display: block;
    }
  }

  @include mediaOver('tablet') {
    @include flex--v-centred;
  }
}

.header__page {
  &:not(:last-child) {
    @include mediaUpTo('tablet') {
      margin-bottom: 32px;
    }

    @include mediaOver('tablet') {
      margin-right: 50px;
    }
  }
}

.header__page-link {
  @extend %clean-link--interactive;

  @include mediaOver('tablet') {
    display: block;
    padding: 32px 0;
  }
}

.header__page-link--active-page {
  position: relative;

  color: getColorFromPalette('accent', 'light');

  @include mediaOver('tablet') {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: currentColor;
    }
  }
}

.header__contacts {
  @extend %unmarked-list;

  @include mediaUpTo('tablet') {
    display: none;
    margin-bottom: 64px;

    .header.is-fullscreen & {
      display: flex;
      flex-direction: column-reverse;
      align-self: flex-end;
      order: 1;

      width: 100%;
    }
  }

  @include mediaUpTo('desktop') {
    font-size: 12px;
    line-height: 1.166;
  }

  @include mediaInBetween('tablet', 'desktop') {
    width: 138px;
  }

  @include mediaOver('tablet') {
    margin-left: auto;
  }

  @include mediaOver('desktop') {
    @include flex--v-centred;
  }
}

.header__contact {
  @include mediaUpTo('tablet') {
    &:nth-child(1) {
      font-size: 24px;
      line-height: 1.17;
    }

    &:nth-child(2) {
      font-size: 34px;
      line-height: 1.18;

      margin-bottom: 32px;

      color: getColorFromPalette('accent', 'light');
    }
  }

  &:not(:last-child) {
    @include mediaInBetween('tablet', 'desktop') {
      display: block;
      margin-bottom: 10px;
    }

    @include mediaOver('desktop') {
      margin-right: 50px;
    }
  }
}

.header__contact-link {
  @extend %flex--v-centred;
  @extend %clean-link--interactive;

  white-space: nowrap;

  @include mediaOver('desktop') {
    padding: 32px 0;
  }
}

.header__contact-icon {
  @extend %icon;
  margin-right: 8px;

  @include mediaUpTo('tablet') {
    display: none;
  }

  @include mediaUpTo('desktop') {
    transform: scale(0.875);
  }

  @include mediaOver('desktop') {
    margin-right: 10px;
  }
}

.header__toggle-menu-button {
  @include mediaUpTo('tablet') {
    position: relative;
    transform: translateY(calc(100vh - 60px));
    $w-h: 44px;

    margin-left: auto;
    width: $w-h;
    height: $w-h;

    border: none;
    background-color: transparent;
    color: getColorFromPalette('accent', 'dark');

    transition: createTransitionFor('transform');

    .header.is-fullscreen & {
      transform: translateY(0);
    }
  }

  @include mediaOver('tablet') {
    display: none;
  }
}

.header_button-icon {
  @extend %icon;
}

.header_button-icon-open {
  .header.is-fullscreen & {
    display: none;
  }
}

.header_button-icon-close {
  .header:not(.is-fullscreen) & {
    display: none;
  }
}
