$headerMobileHeight: 60px;

body {
  @include mediaUpTo('tablet') {
    padding-top: $headerMobileHeight;

    &.is-header-fullscreen {
      overflow: hidden;
    }
  }
}

.header {
  @extend %section;

  font-weight: getFontWeight('medium');
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 0px;

  border-bottom: 1px solid #ececec;

  @include mediaUpTo('tablet') {
    position: absolute;

    top: calc(-100vh + $headerMobileHeight);
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    transition: createTransitionFor('transform');

    &.is-fullscreen {
      padding-bottom: 48px;
      transform: translateY(calc(100% - $headerMobileHeight));
      overflow-y: scroll;
    }
  }
}

.header__container {
  @extend %flex;

  position: relative;

  @include mediaUpTo('tablet') {
    .header.is-fullscreen & {
      flex-direction: column;
      padding-left: 40px;
      height: 100%;
    }
  }

  @include mediaOver('tablet') {
    @include flex--vh-centred;
  }
}

.header__nav {
  @extend %flex--v-centred;

  @include mediaUpTo('tablet') {
    margin-right: auto;
  }
}

.header__logo {
  margin-bottom: 0px;

  @include mediaUpTo('tablet') {
    position: relative;
    top: 0;
    transform: translateY(calc(100vh - 100% - ($headerMobileHeight - 100%) / 2));

    .header.is-fullscreen & {
      display: none;
    }
  }

  @include mediaOver('tablet') {
    margin-right: 88px;
  }

  @include mediaOver('desktop') {
    margin-right: 93px;
  }
}

.header__pages {
  @extend %unmarked-list;

  color: getColorFromPalette('primary', 'dark');

  @include mediaUpTo('tablet') {
    font-weight: getFontWeight('medium');
    font-size: 40px;
    line-height: 1.175;

    display: none;
    padding-top: 48px;

    header.is-fullscreen & {
      display: block;
    }
  }

  @include mediaOver('tablet') {
    @include flex--v-centred;
  }
}

.header__page {
  &:not(:last-child) {
    @include mediaUpTo('tablet') {
      margin-bottom: 32px;
    }

    @include mediaOver('tablet') {
      margin-right: 50px;
    }
  }
}

.header__page-link {
  @extend %clean-link--interactive;

  @include mediaOver('tablet') {
    display: block;
    padding: 32px 0;
  }
}

.header__page-link--active-page {
  position: relative;

  color: getColorFromPalette('accent', 'light');

  @include mediaOver('tablet') {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: currentColor;
    }
  }
}

.header__contacts {
  @extend %unmarked-list;

  @include mediaUpTo('tablet') {
    display: none;

    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;

    .header.is-fullscreen & {
      display: flex;
    }
  }

  @include mediaUpTo('desktop') {
    font-size: 12px;
    line-height: 1.166;
  }

  @include mediaInBetween('tablet', 'desktop') {
    width: 138px;
  }

  @include mediaOver('tablet') {
    margin-left: auto;
  }

  @include mediaOver('desktop') {
    @include flex--v-centred;
  }
}

.header__contact {
  @include mediaUpTo('tablet') {
    &:nth-child(1) {
      font-size: 24px;
      line-height: 1.17;
    }

    &:nth-child(2) {
      font-size: 34px;
      line-height: 1.18;

      margin-bottom: 32px;

      color: getColorFromPalette('accent', 'light');
    }
  }

  &:not(:last-child) {
    @include mediaInBetween('tablet', 'desktop') {
      display: block;
      margin-bottom: 10px;
    }

    @include mediaOver('desktop') {
      margin-right: 50px;
    }
  }
}

.header__contact-link {
  @extend %flex--v-centred;
  @extend %clean-link--interactive;

  white-space: nowrap;

  @include mediaOver('desktop') {
    padding: 32px 0;
  }
}

.header__contact-icon {
  @extend %icon;
  margin-right: 8px;

  @include mediaUpTo('tablet') {
    display: none;
  }

  @include mediaUpTo('desktop') {
    transform: scale(0.875);
  }

  @include mediaOver('desktop') {
    margin-right: 10px;
  }
}

.header__company-socials {
  @extend %unmarked-list;

  display: none;

  flex-wrap: wrap;

  @include mediaUpTo('tablet') {
    .header.is-fullscreen & {
      @include flex--v-centred;
    }
  }

  @include mediaOver('tablet') {
    display: none;
  }
}

.header__social-item {
  position: relative;

  font-size: 18px;
  line-height: 1.22;
  font-weight: getFontWeight('medium');

  color: getColorFromPalette('accent', 'light');

  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      position: absolute;

      content: '';
      top: 0;
      right: -10px;
      width: 1px;
      height: 100%;
      background-color: rgba(getColorFromPalette('primary', 'dark'), 0.1);
    }
  }
}

.header__social-link {
  @extend %clean-link;
}

.header__toggle-menu-button {
  @include mediaUpTo('tablet') {
    $w-h: 40px;

    position: absolute;
    transform: translateY(calc(100vh - 100% - ($headerMobileHeight - 100%) / 2));

    width: $w-h;
    height: $w-h;
    right: $containerLRPaddings;
    top: 0;

    border: none;
    background-color: transparent;
    color: getColorFromPalette('accent', 'dark');

    transition: createTransitionFor('transform');

    .header.is-fullscreen & {
      transform: translateY(calc(($headerMobileHeight - 100%) / 2));
    }
  }

  @include mediaOver('tablet') {
    display: none;
  }
}

.header__button-icon {
  @extend %icon;
}

.header__button-icon-open {
  .header.is-fullscreen & {
    display: none;
  }
}

.header__button-icon-close {
  .header:not(.is-fullscreen) & {
    display: none;
  }
}
